<?xml version="1.0"?>
<launch>
    <arg name="delta" default="0.017" />
    <node name="feasibility_check" pkg="tub_feasibility_check" type="tub_feasibility_check" output="screen">
        <param name="ifco_scene_graph_file" value="$(find tub_feasibility_check)/model/rlsg/prob-rbohand2-ifco.convex.xml" />
        <param name="tabletop_scene_graph_file" value="$(find tub_feasibility_check)/model/rlsg/prob-rbohand2-tabletop.convex.xml" />
        <param name="kinematics_file" value="$(find tub_feasibility_check)/model/rlkin/prob-rbohand2.xml"/>
        <param name="hide_window" type="bool" value="false" /> 
        <param name="delta" value="$(arg delta)" />
    </node>
</launch>


